
.parent {
    -fx-background-color: #fff
}
.sidebar {
    -fx-background-color: gray
}
.bt {
    -fx-background-color: transparent
}
.bt:hover {
    -fx-background-color: darkseagreen 
}
.box {
    
}